
body {
    /*height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

.table {
    border: 1px solid black;
}

/*.table {*/
/*    border-collapse: collapse;*/
/*}*/

.table td a:hover, .pagination a:hover {
    text-decoration: none;
    color: #f21010;
}


.form select, input[type='text'], input[type='date'], input[type='password'] {
    /*background-color: lightgray;*/
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

.form textarea {
    display: block;
    margin: 20px;
    width: 250px;
    height: 100px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    resize: none; /* Запрещаем изменять размер */
}

.form input[type='checkbox']  {
    background-color: lightgray;
    display: inline;
    margin: 10px;
}

.form input[type='submit'] {
    width: 100px;
    background-color: #00ff55;
    margin: 20px;
    display: block;
    border: none;
}

.form {
    margin: 10px;
    padding: 5px;
}

.pagination {
    text-decoration: #6610f2;
    font-weight: bold;
    margin: 5px;
}

.pagination a {
    padding: 0 2px;
}

.pagination a.current {
    color: #ff66ff;
    /*background-color: #000000;*/
}

.form-log {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-log a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

.form-log p {
    margin: 10px 0;
}

.form-log input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

.form-log button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}