.table td {
    border: 2px solid black;
}

.table {
    border-collapse: collapse;
}

.form textarea {
    width: 250px;
    height: 150px;
    border: 2px solid black;
    background-color: lightgray;
    display: block;
    margin: 20px;
    resize: none; /* Запрещаем изменять размер */
}

.form select {
    background-color: lightgray;
    margin: 20px;
}

.form input[type='text'], input[type='date'] {
    background-color: lightgray;
    display: block;
    margin: 20px;
}

.form input[type='checkbox']  {
    background-color: lightgray;
    display: inline;
    margin: 10px;
}

.form input[type='submit'] {
    width: 100px;
    background-color: #00ff55;
    margin: 20px;
}

.form {
    margin: 20px;
    padding: 25px;
}

.pagination {
    text-decoration: #6610f2;
    font-weight: bold;
    margin: 5px;
}